body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#text {
    border: 1px solid;
    padding: 10px;
}

input {
    margin: 10px;
}

button {
    padding: 5px 10px;
    margin: 10px;
}