body {
    background-color: #f0f0f0;
}

#profileContainer {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #000;
}

#profilePicture {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}